.login-page-container-fluid {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


.login-welcome-back {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.login-container{
    height: auto !important;
    border: 2px solid #3D52a0;
    margin-bottom: 30px;
    background-color: white;
}

.login-page-row {
    background-color: #3D52a0;
    height: auto;
    border: 10px solid white;
}

.login-page-col-1 {
    height: auto;
    position: relative;
    /* background-color: #3D52a0; */
}

.login-page-col-1-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page-col-2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-col-2-center-div {
    text-align: center;
    width: 80%;
    height: auto;

}

.login-input-div {
    text-align: start;
}

.login-txt {
    font-size: 40px;
    color: #3D52a0;
    padding-bottom: 20px;
    font-weight: 700;
    /* padding-top: 20px; */
}

.login-input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.login-forget-pword {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 5px;
    font-size: 13px;
    margin-bottom: 15px;
}

.login-button {
    width: 100%;
    background-color: #3D52a0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px;
}

.login-check-box {
    margin-right: 4px;
    width: 11px;
    height: 11px;
}

.c-box-div {}

.login-question-text {
    font-size: 13px !important;
}

.create-account {
    font-size: 13px !important;
}

.login-question-div {
    padding-top: 15px;
}

.create-account {
    color: #3D52a0;
    text-decoration: none;
}

.create-account:hover {
    color: gray;
}


@media (min-width: 320px) and (max-width: 768px) {
    .login-page-container-fluid {
        height: auto;
        padding: 35px 15px 35px 15px;
    }

    .login-page-col-1{
        padding: 30px 0;
    }

    .login-txt {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .login-page-row {
        border-radius: 30px;
        border-bottom: none;
    }

    .login-page-col-2 {
        border-radius: 20px;
    }

        .login-container {
            height: auto !important;
            border-radius: 30px;
            background-color: white
            ;
        }
}

