.edit-profile-main-div{
    padding: 3%;
}

.edit-profile-container{
    background-color: white;
    border: 1px solid grey;
    border-top: none;
    height: 90vh;
    overflow: scroll;
}

.edit-profile-container-column{
    border: 1px solid #3d52a0;
}

.edit-profile-div{
    /* border: 1px solid #3d52a0; */
    display: flex;
}

.edit-profile-input-div{
    margin: 20px;
}

.edit-profile-label{
    color: #3d52a0;
    font-weight: 600;
}

.edit-profile-input{
    border: 1px solid #3d52a0;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.edit-profile-btn-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    column-gap: 10px;
    margin-top: 8%;
}

.edit-profile-save-btn{
    background-color: #3d52a0;
    color: white;
    padding: 2% 0px 2% 0px;
    width: 30%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.edit-profile-cancel-btn{
    /* border: 1px solid #3d52a0; */
    background-color: rgb(219, 219, 219);
    color: red;
    padding: 2% 0px 2% 0px;
    width: 30%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}