@media only screen and (min-width: 200px) and (max-width: 2981px) {
  button {
      width: fit-content !important;
  }
}

.logo:hover {
  color: white !important;
}

.dropdown-menu-1 {
  background-color: transparent;
}

.dropdown-menu-1 .toggle {
  background-color: transparent;
  border: none;
}

.dropdown-menu-1 .toggle:hover {
  background-color: var(--color-blue-100) !important;
  color: var(--color-blue-800);

}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  background-color: var(--color-blue-100) !important;
}

.dropdown-menu-1 .toggle:active {
  background-color: yellow;
}

nav a {
  color: white !important;
}

nav a:hover {
  color: #B9E8F8 !important;
  transition: color 0.3s ease-in-out;
}

.dropdown-menu-1.active,
div.active {
  color: #00AEFF;
}

.menu .item:hover {
  background-color: var(--color-blue-100);
}

.menu .item {
  width: fit-content;
  padding-left: 5px;
}

/* Example styles for the active link */
.active {
  font-weight: bold;
  color: var(--color-blue-800) !important; /* Change to your desired color */
}

/* Other styles */
.nav-icon {
  transition: transform 0.3s ease;
}

.nav-icon.open {
  transform: rotate(90deg);
}


.dropdown-menu {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--color-blue-100) !important;
}

.dropdown-menu a {
  color: white;
  transition: background-color 0.3s;
}

.dropdown-menu-2 {
  background-color: white !important;
  border-radius: 9999px !important;
  color: black !important;
  font-weight: 700 !important;
  border: none !important;
  /* border-width: 1px; */
}

.btn2-check:checked+.btn2, .btn2.active, .btn2.show, .btn2:first-child:active, :not(.btn2-check)+.btn2:active {
  background-color: white !important;
}

.menu-2 {
  background-color: white !important;
  color: black !important;
  width: 202px;

}

.menu-2 a {
  color: black !important;
  background-color: white !important;
}

.menu-2 a:hover {
  color: black !important;
  font-size:medium;
}

.active-2 {
  color: black !important;
  font-size:medium;
  font-weight: bold;
}

.menu-2 a {
  transition: color 0.3s, font-size 0.3s;
}

/* Hide the default arrow */
.custom-toggle::after {
  display: none !important;
}

/* Custom arrow styles */
.custom-arrow {
  margin-left: 8px; /* Adjust as needed */
  /* You can add more styles here to match your design */
}


dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}
