.dropdown {
    /* position: relative; */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8697c4;
    min-width: 160px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7091e6;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.custom-links a {
    text-decoration: none;
}